<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <Pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS}[%-5level [%thread] %logger{15}.%M\(%line\) - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>./logs/application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.simpolor" level="debug" />

    <root level="error">
        <appender-ref ref="rolling" />
        <appender-ref ref="STDOUT" />
    </root>

    <root level="!error">
        <appender-ref ref="STDOUT" />
    </root>

    <!--<springProfile name="!live">
        <logger name="com.smilegate" level="debug" />
        <root level="debug">
            <appender-ref ref="STDOUT"/>
        </root>
        <root level="error">
            <appender-ref ref="rolling" />
        </root>
    </springProfile>

    <springProfile name="live">
        <logger name="com.smilegate" level="error" />
        <root level="error">
            <appender-ref ref="rolling" />
        </root>
    </springProfile>-->



</configuration>